:root{
    --background:#040714;
    --white:#f9f9f9;
    --blueBackground:#0063e5;
    --blueBackgroundHover:#0483ee;
    --navBackgroundHover:#090b13;
    --dotSlider:rgb(150,158,171);
    --boxBorder:rgb(249,249,249, .8);
    --boxBorderDark:rgb(249,249,249, .1);
    --transition:cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --opacityTransition:opacity 500ms ease-in-out 0s;

}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    color: var(--white);
    font-family: Avenir-Roman, sans-serif;
    margin: 0;
    padding: 0;
    @media screen and (min-width:769px) {
        font-size: 16px;
    }
    @media screen and (min-width:480px) and (max-width:768px) {
        font-size: 15px;
    }
    @media screen and (max-width:479px) {
        font-size: 14px;
    }
}

a{
    text-decoration: none;
    color: var(--white);
}

